<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMI&amp;approriateBodyWeight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3302940B1E0A8735007E14FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3302941F1E0A8735007E14FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3302942A1E0A8735007E14FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
